# uncomment and set the variables you wish to use

## the full path to the cloned compose directory, no trailing slashes
# COMPOSE_DIR=/path/to/Compose

## the full path to the parent directory that will hold all the repos
# CODECOMP_DIR=/path/to/CODECOMP

## the repo owner
# REPO_OWNER=white105

## the protocol to use: git, http, https
# REPO_PROTO=git

## the provider to use
# REPO_PROVIDER=github.com

## the repo base path, does not need to be set if using github and the REPO_OWNER option. This also overwrites REPO_PROVIDER and REPO_PROTO
# REPO_BASE_URL=http://github.com/myuser

## a prefix added to each forked repo (if using forks)
## for example, if your API fork is called MyProjectboucanpy, then use this option
## all repos need to the same prefix value 
# REPO_PREFIX=MyFork

## the branch to clone, defaults to master
# REPO_BRANCH=master